@model AssetTracker.DTOs.Employee.EmployeeDto

@{
    ViewData["Title"] = "Details";
}

<div class="mb-3">
    <a class="btn btn-primary" asp-action="Index">Wróć do listy</a>
</div>

<div id="employeeDetailsContainer">
    <partial name="_EmployeePartialView" model="@Model" />
</div>

<partial name="_ModalsEmployeePartialView" />


