@model IEnumerable<AssetTracker.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista pracowników</h1>

<button type="button" id="addEmployeeBtn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addEmployeeModal">Dodaj Pracownika</button>

<div class="modal fade" id="addEmployeeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Dodaj Pracownika</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <div class="modal-body">
                    <div class="form-outline mb-4">
                        <label for="Name" class="form-label">Imię</label>
                        <input type="text" id="Name" class="form-control" />
                        <span class="text-danger" id="NameError"></span>
                    </div>
                    <div class="form-outline mb-4">
                        <label for="Surname" class="form-label">Nazwisko</label>
                        <input type="text" id="Surname" class="form-control" />
                        <span class="text-danger" id="SurnameError"></span>
                    </div>
                    <div class="form-outline mb-4">
                        <label for="Position" class="form-label">Stanowisko</label>
                        <input type="text" id="Position" class="form-control" />
                        <span class="text-danger" id="PositionError"></span>
                    </div>
                    <div class="form-outline mb-4">
                        <label for="Workplace" class="form-label">Miejsce pracy</label>
                        <select id="Workplace" name="Workplace" asp-items="@ViewBag.WorkplaceList" class="form-control"></select>
                        <span class="text-danger" id="WorkplaceError"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                    <button type="button" id="AddEmployeeBtn" class="btn btn-primary">Dodaj</button>
                </div>
        </div>
    </div>
</div>

<table id="EmployeeTable" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                Imię 
            </th>
            <th>
                Nazwisko
            </th>
            <th>
                Stanowisko
            </th>
            <th>
                Miejsce pracy
            </th>
            <th>
                Akcje
            </th> 
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<p>@ViewBag.WorkplaceList</p>
