@model IEnumerable<AssetTracker.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista pracowników</h1>

<button type="button" id="addEmployeeBtn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addEmployeeModal">Dodaj Pracownika</button>

<partial name="_ModalsEmployeePartialView" />

<table id="EmployeeTable" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                Imię 
            </th>
            <th>
                Nazwisko
            </th>
            <th>
                Stanowisko
            </th>
            <th>
                Miejsce pracy
            </th>
            <th>
                Email
            </th>
            <th>
                Akcje
            </th> 
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

