@model AssetTracker.ViewModels.FixedAssetViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="mb-3">
    <a class="btn btn-primary" asp-action="Index">Wróć do listy</a>
</div>

<div id="fixedAssetDetailsContainer">
    <partial name="_FixedAssetPartialView" model="@Model"/>
</div>

<partial name="_ModalsFixedAssetPartialView" />

