@model IEnumerable<AssetTracker.Models.FixedAsset>
@{
    ViewData["Title"] = "Index";
}

<h1>Lista zasobów</h1>

<table id="AssetTable" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Model
            </th>
            <th>
                Numer Seryjny
            </th>
            <th>
                Kod Zasobu
            </th>
            <th>
                Id Pracownika
            </th>
            <th>
                Akcje
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

